@mixin create-font-face($name, $filename, $font-weight: 400, $font-style: normal, $svg-font-id: webfontregular) {
    
    $path: path-var('../fonts/#{$filename}');
    
    font-family: $name;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: block;
    src: url('#{$path}.eot');
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
         /*url('#{$path}.woff2') format('woff2'),*/
         url('#{$path}.woff') format('woff'),
         url('#{$path}.ttf') format('truetype'),
         url('#{$path}.svg#{$svg-font-id}') format('svg');
}
