@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin position-absolute($top, $right, $bottom, $left) {
    @include position(absolute, $top, $right, $bottom, $left);
}

@mixin position-relative {
    position: relative;
}
