.poduct-slider {
	margin-top: 0;
	
	.swiper-container {
		padding-bottom: $base-spacing-xl;
		background-color: $slider-background-color;
		
		.swiper-slide {
			
			picture {
				@include flexbox;
				@include align-items(center);
				@include justify-content(center);
				text-align: center;
			}
		}
	}
	
	+ .main__wrapper {
		margin-top: 0;
	}
}

.product {
	
	&-details {
		@include position-relative;
		margin-top: -$base-spacing-xl - $base-spacing;
		margin-bottom: $base-spacing-xl;
		padding: $base-spacing-xl $base-spacing-ms;
		background: $color-white;
		border: 1px solid $border-color-light;
		text-align: center;
		z-index: 1;
		
		&__wrapper {
			max-width: 550px;
			margin-right: auto;
			margin-left: auto;
		}
		
		&__name {
			@include font-size($font-size-l);
			margin-bottom: $base-spacing-xmd;
			text-transform: uppercase;
			
			span {
				@include position-relative;
				@include font-size($font-size-s);
				padding-bottom: $base-spacing-xms;
				display: block;
				color: $deco-color;
				
				&:after {
					@include position-absolute(auto, auto, 12px, 50%);
					width: 60px;
					height: 3px;
					margin-left: -30px;
					content: '';
					background: $deco-color;
				}
			}
		}
		
		&__description {
			margin-bottom: $base-spacing-xmd;
		}
		
		&__options {
			@include flexbox;
			@include align-items(center);
			@include justify-content(space-between);
			@include position-relative;
			@include justify-content(center);
			margin-bottom: $base-spacing-xmd;
			padding-top: $base-spacing-xmd;
			border-top: 1px solid $border-color-light;
		}
		
		&__price {
			@include font-size($font-size-h2);
			margin-bottom: $base-spacing-xmd;
			text-transform: uppercase;
		}
	}
}
