.healine {
	text-align: center;
	
	h2 {
		@include font-size(30px);
		color: $headline-header-color;
		font-weight: $font-weight-regular;
	}
	
	p {
		font-weight: $font-weight-regular;
		color: $headline-text-color;
	}
}
