.product-item {
	@include flexbox;
	@include flex-direction(column);
	@include media-breakpoint-up(md) {
		margin-bottom: $base-spacing-sm;
	}
	width: 100%;
	margin-bottom: $base-spacing-xs;
	padding-right: $base-spacing-xs;
	padding-left: $base-spacing-xs;
	
	&__wrapper {
		@include flexbox;
		width: 100%;
		height: 100%;
		margin-right: auto;
		margin-left: auto;
		background: $content-element-bg;
		
		.mode--grid & {
			@include flex-direction(column);
			max-width: 360px;
		}
		
		.mode--list & {
			@include media-breakpoint-up(ms) {
				@include flex-direction(row);
				max-width: 100%;
			}
			@include flex-direction(column);
			max-width: 360px;
		}
	}
	
	&__picture {
		@include flex-grow(0);
		@include position-relative;
		
		a {
			@include flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include transition(all 0.4s ease);
			@include position-absolute(0, 0, 0, 0);
			opacity: 0;
			background: rgba($color-black, .7);
			text-decoration: none;
			
			.btn--transparent:hover {
				background: rgba($color-white, .2) !important;
			}
		}
		
		&:hover {
			
			a {
				opacity: 1;
			}
		}
		
		.mode--list & {
			@include media-breakpoint-up(ms) {
				@include flex-grow(0);
				@include flex-shrink(0);
				@include calc(flex-basis, #{'100% / 3'});
				max-width: 185px;
			}
		}
	}
	
	&__body {
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(space-between);
		@include flex-grow(1);
		padding: $base-spacing-ms;
		
		.mode--grid & {
			padding-right: $base-spacing-sm;
		}
	}
	
	&__decription {
		margin-bottom: $base-spacing-xs;
		
		h4 {
			@include font-size(13px);
			margin-bottom: $base-spacing-xs;
			font-weight: $font-weight-regular;
			color: $color-black;
			text-transform: uppercase;
			
			a {
				color: $color-black;
			}
		}
	}
	
	&__price {
		@include font-size($font-size-m);
		font-weight: $font-weight-regular;
	}
}
