header
	.container
		.header__wrapper
			.header__col
				.logo
					a(href='index.html' title='Shop')
						img(src='img/logo.png' alt='Shop')
				.search
					a(href='#' title='Search')
						i.icon__search
			.header__col
				.menu
					a(href='#' title='Menu')
						i#mobile-menu-icon.icon__bars
				.user
					a(href='#' title='My Account')
						i.icon__user
				.basket
					a(href='cart.html' title='My Basket')
						.basket__count
							|#{5}
						i.icon__cart
